* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.sidebar {
  background-color: #000000;
  width: 78px;
  position: fixed;
  height: 100vh;
  top: 80px;
  z-index: 3;
}

.home-icon,
.save-icon,
.list-icon,
.setting-icon,
.help-icon {
  color: #ffffff;
  font-size: 1.8em;
  padding: 2px 20px;
}

.help-icon {
  margin-top: auto;
}

/* .side-bar {
  z-index: 2;
}

aside {
  width: 78px;
  background-color: #000000;
  padding: 19px;
  position: fixed;
  height: 100vh;
  top: 0;
}

.help-icon {
  margin-top: auto;
} */
