* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.side {
  background-color: #000000;
  height: 100vh;
  position: fixed;
  width: 74px;
  display: flex;
  z-index: 100;
  flex-direction: column;
  transition: width 0.7s ease-in-out;
}

.side:hover {
  width: 200px;
}

.icon-text {
  opacity: 0;
  transition: 0.4s ease-in-out;
  /* transition-delay: 0.7s; */
}

.slide-out:hover .icon-text {
  opacity: 1;
}

.slide-in:hover {
  width: initial;
  transition: 0.3s;
}
.logo {
  padding: -20px;
}

.prac-home-icon,
.prac-save-icon,
.prac-list-icon,
.prac-setting-icon,
.prac-help-icon {
  color: #ffffff;
  font-size: 1.8em;
  padding: 12px 25px;
}

.prac-help-icon {
  position: absolute;
  bottom: 20px;
}

.prac-home-icon:hover,
.prac-save-icon:hover,
.prac-list-icon:hover,
.prac-setting-icon:hover {
  display: block;
  background: #404040d7;
  /* z-index: 8; */
}
