.card-grid {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    padding: 120px;
    background-color: #111111;
    
}
.movie-container {
    width: 250px;
    height: 444px;
    border-radius: 10px;
    background-color: inherit;
    color: #fff;

}
.movie-poster img {
    width: 100%;
    height: 376px;
    border-radius:10px;
}
.movie-poster {
    position: relative;
}
.movie-poster-overlay {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}
.movie-poster-overlay img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 80px;
    left: 25px;

}
.movie-poster:hover .movie-poster-overlay {
    display: block;
}
.movie-title {
width: 233px;
height: 14px;
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 24px;
color: #FFFFFF;
padding: 15px 0 16px 0;
}
.movie-container-footer ul {
    display: flex;
    justify-content:space-between;
    width: 160px;
    list-style: none;
    height: 14px;
    font-family: Avenir Next LT Pro;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #8C8C8C;
    padding: 10px 0 0 0;
}




@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .card-grid {
        display: grid; 
        /* gap:50px 0; */
        padding: 60px;
        grid-template-columns: repeat(3, 1fr);
        
    }
    .card-container {
        width: 320px;
        height: 452px;
        /* box-shadow: 2px 4px 8px #585858; */
        border-radius: 10px;
        background-color: inherit;
        color: #fff;
    }
  }
  @media only screen 
  and (min-device-width: 400px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .card-grid {
        display: grid; 
        gap:50px 0;
        grid-template-columns: repeat(2, 1fr);
        
    } 
  }