.practice {
  display: grid;
  grid-template-columns: 5% 95%;
}

.prac-main {
  background-color: #1c1c1c;
  padding: 30px;
  height: 97%;
}

.prac-overview-section {
  background-color: #1c1c1c;
  border-right: 15px solid black;
  padding: 42px;
  border-radius: 8px 12px 12px 8px;
  border-left: 8px solid #e05a46;
  color: #f8f8ff;
  font-family: Avenir Next LT Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.prac-overview h3 {
  color: #f2d2b6;
}

.prac-overview-section h1 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.prac-overview {
  background-color: #000000;
  padding: 46px 10px 0px 55px;
  border-radius: 1.5rem;
  top: 14px;
  position: relative;
}

.overview-icon {
  font-size: 60px;
  color: #636060;
}

.prac-action {
  background-image: url(../../assets/images/action.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ec8e80a1;
  opacity: 0.7;
  background-blend-mode: multiply;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.8rem;
  left: -10px;
  margin: 0 0 15px 0px;
}

.prac-comedy {
  background-image: url(../../assets/images/comedy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464444da;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.8rem;
  margin: 0 16px 16px 0;
}

.prac-horror {
  background-image: url(../../assets/images/horror.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #76c4aaa9;
  opacity: 0.9;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.8rem;
  margin: 0 0 16px 2px;
}

.prac-romance {
  background-image: url(../../assets/images/romance.png);
  background-repeat: no-repeat;
  background-color: #e0d48b8f;
  background-size: cover;
  opacity: 0.8;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.8rem;
  margin: 0 16px 15px 0;
}

.prac-adventure {
  background-image: url(../../assets/images/adventure.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.8rem;
  margin: 0 0 15px 2px;
}

.prac-top-categories-container {
  padding-top: 30px;
}
.prac-top-categories-container h3 {
  color: #dde2ff;
}

.prac-top-categories-container h4 {
  color: #dde2ff;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
}

.tp {
  left: -25px;
}
