.upload{
    background: #121212;
    width: 60%;
    margin: auto;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    overflow: auto;
    border-radius: 15px;
}

.Upload-container{
    display: grid;
    grid-template-columns: 50% 50%;
} 


#header-title{
    color: #F2D2B6;
    font-size: 34px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0px;
}

.form-container{
    color: #DDE2FF;
    text-align: left;
    width: 90%;
    margin: auto;
}

.form-container input{
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    height: 20px;
    background-color: #121212;
    color: #82869A;
    margin-bottom: 10px;
}

.form-container input: focus{
    color: #fafafa;
}

.form-container input::placeholder{
    color: #82869A;
    font-family: Avenir Next LT Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
}

.custom-file-upload {
    border: 1px solid #ccc;
    color:white;
    border: none;
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer;
    font-size: 34px;
    line-height: 36px;
    background: #BD220B;
    border-radius: 8px;
    margin-top: 5px;
}

/* input[type="file"] {
    display: none;
} */

select{
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    height: 20px;
    background-color: #121212;
    color: #82869A;
    margin-bottom: 10px;
    font-family: Avenir Next LT Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
}

 .form-container label {
    display: block;
    padding: 3px ;
    margin-bottom: 10px;
}

.movie-container{
    color:#F7ADA2;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow:hidden;
}

.movie-container img{
    width: 90%;
    padding: 0px 20px;
}

/* .Uploadbtn-container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    background: #121212;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    
}  */

.uploadbtn{
    margin: 50px 0px;
    color: #FFFFFF;
    font-size: 34px;
    width: 50%; 
    background: #BD220B;
    border-radius: 8px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px #000000 15%;
    text-align: center;
    outline: 0;
    border: 0;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px){
    .Upload-container{
        display: grid;
        grid-template-columns: 100%;
        width: 80%;
        margin: auto;
        background: #121212;
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: 500;
        
    } 
}
