header nav {
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    position: fixed;
    width: 100%;
    align-items: center !important;
    padding: 24px 120px;
    /* margin-bottom: 100px; */
    z-index: 5;
}
header nav a {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    width: 30%;
}
header nav .nav-list-container {
    width: 58%;
}
header nav .nav-list {
    width: 95%;
    margin: auto;
    list-style: none;
    display: flex;
    color: #fff;
    justify-content:space-between;
    align-items: center !important;
}
header nav .nav-list .nav-item {
    font-family: Avenir Next LT Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.5px;
}

header nav .nav-list .movie-search-bar {
    display: none;
}
header nav .nav-list> :first-child {
    display:flex;
    font-size: 23px;
}
.mobile-nav-btn {
    font-size: 23px;
    display: none;
}
.modal-background {
    width: 100%;
    height: 100%;
    z-index: 600 !important;
    background: rgba(0,0,0,0.8);
    padding: 50px 0;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
}
.modal-box  {
    width: 70% !important ; 
    background-color: transparent !important;
    border: none;
    top: 0;
} 
.search-background {
    width:100% !important;
    height:100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    left:0;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    position: absolute;
    top: 24px;
    z-index: 5;
    /* right: ; */
    width: 100%;
    display: flex;
    justify-content: center;
}
.search-input input {
    padding:3px;
    border-radius: 5px;
    width: 40%;
    border: none;
}
.search-nav {
    background-color: #121212;
    position: absolute;
    width: 100%;
    top: 0;
    align-items: center !important;
    padding: 24px 120px;
    z-index: 4;
}
.search-display {
    background-color: #585858;
    padding : 50px;
    width: 40%;
    position: absolute;
    top: 63px;
    z-index: 5;
}
.search-display span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #ccc;
}
.search-display-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
}
.search-list {
    display: grid;
    grid-template-columns: 20% 60%;
    gap: 15px;
    height: 102px;
    width: 100%;
    padding: 5px;
    list-style: none;
}
.search-list:hover {
    background-color: #121212;
}

.search-list-movie-poster img{
    width: 80px !important;
    height: 90px !important;
}
.search-list-movie-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-list-movie-details h4 {
font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 24px;
color: #FFFFFF;
}
.search-list-movie-details-footer {
display: flex;
}
.search-list-movie-details-footer span {
font-family: Avenir Next LT Pro;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.4px;
color: #404040;
margin: 0 5px 0 0;
}

.signup-modal {
    width: 100% !important;
}
.close-btn {
    position: absolute;
    top: 40px;
    right: 270px;
    z-index: 5;
    background:inherit;
    /* padding: 10px; */
    font-size: 40px;
    border: none;
    color: #ccc;
}
.signin-close {
    position: absolute;
    top: 60px;
    right: 230px;
    z-index: 5;
    background-color: inherit;
    /* padding: px; */
    font-size: 40px;
    border: none;
    color: #ccc;
}


/* .card {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 4px 8px #585858;
    background-color: #121212 !important;
    width: 50%;

}

.card-image img {
    width: 50%;
}
.card-text {
    /* list-style: none; */
    /* color:#fff;
    padding: 20px;
}
.card-text ul {
    list-style: none;
} */ 




/* @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    header nav {
        padding: 24px ;
        
    }
    header nav .nav-list {
        display: none;
    }
    .mobile-nav-btn{
        font-size: 50px;
        display: block ;
        color: #fff;
        position: absolute;
        top: 0;
        right: 40px;
    }

  } */

  /* @media only screen 
  and (min-device-width: 400px) 
  and (max-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    header nav {
        padding: 24px ;
        
    }
    header nav .nav-list {
        display: none;
    }
    .mobile-nav-btn{
        font-size: 50px;
        display: block ;
        color: #fff;
        position: absolute;
        top: 0;
        right: 40px;
    }
  } */